.sub{
  position: relative;
  left: 570px;
  top: -26px;
  color: #1b1b1b;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  font-size: 27px;
}
.sub2{
  position: relative;
  left: 23px;
  top: -35px;
  color: #1b1b1b;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  font-size: 27px;
}
table{
  top: -66px;
  position: relative;
  left: 106px;
}
.box2 {
  font-size: 55px;
  position: relative;
  left: 549px;
  color:#1b1b1b;
  top: 8px;
}
.box3 {
  font-size: 55px;
  position: relative;
  left: 553px;
  color:#1b1b1b;
  top: -108px;
}
.blog1{
  width: 1444px;
  height: 850px;
  background-image: image-url("kabokisi.jpg");
  overflow: hidden;
  margin: 0;
}
.blog2{
  background-color: #FFF;
  overflow: hidden;
  position: relative;
  top: 113px;
}
td{
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  color:#1b1b1b;
}
.toppage{
  font-size: 55px;
  position: relative;
  top: -179px;
  left: 27px;
}
.title1{
  //top: 150px;
  text-align: center;
  //position: absolute;
  //left:478px;
  margin-top: -134px;
  font-size: 55px;
}
.trix-content{
  //text-align: center;
  //position: relative;
  left: 269px;
  top: 106px;
  font-size: 30px;
  //overflow: hidden;
  //width: 1110px;
  text-align: center;
}
.form{
  position: relative;
  top: 5px;
}
.attachment-gallery {
  margin-top: 164px;
  left: 255px;
}
.div{
  position: relative;
  top: 81px;
  left: 261px;
}
.news1{
  //display: flex;
  //margin-left: 642px;
  position: relative;
  top: -83px;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  font-size: 47px;
  left: 529px;
}